[submodule "spring-security-oauth2-submodule"]
	path = spring-security-oauth2-submodule
	url = https://github.com/YHLEE9753/spring-security-oauth2-submodule.git
[submoduels "spring-security-oauth2-submodules"]
	branch = main
[submodul "spring-security-oauth2-submodule"]
	branch = main
